<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Subject:</label>
    <div class="col-sm-6">
      <select ngModel class="form-control" name="subject">
        <option value="algebra 2">Algebra 2</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Chapter:</label>
    <div class="col-sm-6">
      <input ngModel class="form-control" name="chapter">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Section:</label>
    <div class="col-sm-6">
      <input ngModel class="form-control" name="section">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Type:</label>
    <div class="col-sm-6">
      <select ngModel class="form-control" name="type" #type="ngModel">
        <option value="free response">Free Response</option>
        <option value="multiple choice">Multiple Choice</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Format:</label>
    <div class="col-sm-6">
      <select ngModel class="form-control" name="format">
        <option value="a">A</option>
        <option value="b">B</option>
      </select>
    </div>
  </div>
  <div class="form-group row" *ngIf="type.value == 'multiple choice'">
    <label class="col-sm-2 col-form-label">Answer Key:</label>
    <div class="col-sm-6">
      <input ngModel class="form-control" name="answerKey">
    </div>
  </div>
  <input type="file" #fileupload name="myFile" (change)="fileChange(fileupload.files)"/>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div *ngIf="isUploading">
    <span>Uploading...</span>
    <img src="./assets/images/spinner.svg"/>
  </div>
</form>